html, body, .wrap, .page{
    height:100%;
    width:100%;
    overflow: hidden;
}

.page{
    background: #333;
    position: absolute;
    display: none;
    overflow: hidden;
}
.page1{
    background-color: #e8e8e7;
    background: url(../images/profile.png) center -105px no-repeat;
}
.page2{
    background-color: #a6a5a5;
    background: url(../images/profile.png) center -785px no-repeat;
}
.page3{
    background-color: #717171;
    background: url(../images/profile.png) center -1465px no-repeat;
}
.page4{
    background-color: #d4d5d4;
    background: url(../images/profile.png) center -2145px no-repeat;
}
.page-inner{
    height: 600px;
    width: 1200px;
    margin: 0 auto;
}

header, .header,
.bar,
footer, .footer{
    position: absolute;
    z-index: 3;
}

header,
.header{
    top: 0;
    width: 100%;
}
.bar{
    top:65px;
    width: 100%;
}
footer,
.footer{
    bottom: 0;
    left: 50%;
    margin-left: -575px;
}

.control{
    position: absolute;
    height: 0;
    width: 1150px;
    left: 50%;
    top: 50%;
    margin-left: -575px;

    .points{
        height: 90px;
        width: 13px;
        position: absolute;
        top: -45px;
        right: 0;
    }

    .point{
        width: 13px;
        height: 13px;
        display: block;
        margin-bottom: 10px;
        background: url(../images/dots.png) 0 -23px no-repeat;
    }
    .current{
        background-position: 0 0;
    }
}