header, .header {
    height: 65px;
    font-weight: lighter;
    background: #000;
    .logo, .logo img {
        height: 65px;
        width: 140px;
    }
    .nav {
        margin-left: 250px;
        margin-top: 10px;
        font-size: 16px;
    }
    .nav-item {
        width: 80px;
        height: 25px;
        line-height: 25px;
        padding: 1px;
        margin: 10px;
        text-align: center;
        color: #fff;
        &:hover {
            border: 1px solid #f8b62d;
            padding: 0;
            border-radius: 2px;
        }
    }
    .nav-current {
        color: #f8b62d;
    }
    .lang-switch {
        height: 25px;
        line-height: 25px;
        width: 120px;
        margin-top: 20px;
        color: #f8b62d;
        text-align: right;
        border: 1px solid #f8b62d;
        border-radius: 2px;
        a {
            color: #f8b62d;
            padding: 0 8px;
        }
    }
}
.bar {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    background-color: #F8B62A;
    a, span {
        padding: 0 3px;
    }
    a:hover {
        color: #333;
        text-decoration: underline;
    }
}
.pinned {
    header, .header {
        position: fixed;
        opacity: .9;
        width: 100%;
        top: 0;
        background: none;
        background: rgba(255, 255, 255, .5);
        border-bottom: 1px solid;
        border-color: rgba(0, 0, 0, .1);
        color: #595857;
        .nav-item {
            color: #595857;
            &:hover {
                border: 1px solid #595857;
                border-color: rgba(88, 88, 88, .5);
                padding: 0;
                border-radius: 2px;
            }
        }
        .nav-current {
            border: 1px solid #595857;
            padding: 0;
            border-radius: 2px;
        }
        .lang-switch {
            border-color: #595857;
            &, a {
                color: #595857;
            }
        }
    }
    .bar {
        position: fixed;
        width: 100%;
        top: 65px;
        height: 9px;
        background: url(/images/shadow.png) center -2px no-repeat;
        background-color: transparent;
        .login-box {
            display: none;
        }
    }
}
footer, .footer {
    margin-bottom: 30px;
    width: 1110px;
    line-height: 15px;
    padding: 20px;
    color: #fff;
    background: #000;
    opacity: .7;
}
/* media query for mobile devices and tiny windows */

@media only screen and (max-width: 1150px), only screen and (max-device-width: 1150px) {
    .rs {
        .g-wd {
            width: 100%;
        }
        footer, .footer {
            width: 94%;
            padding: 20px 3%;
            margin-left: 0;
            left: 0;
        }
        .profile {
            .control {
                width: 100%;
                left: 0;
                margin-left: auto;
                .points {
                    right: 10px;
                }
            }
            .page {
                background-size: 120%;
                background-position: center;
            }
        }
    }
}
